<?xml version="1.0"?>
<!--
/**
 * Star Plugins Cloud Zoom - Magento Extension
 * @package     StarPlugins_CloudZoom
 * @category    StarPlugins
 * @copyright   Copyright 2013 Star Plugins. (http://www.starplugins.com)
 * @version     1.0.0
 */
-->
<config>
    <modules>
        <StarPlugins_CloudZoom>
            <version>1.0.1</version>
        </StarPlugins_CloudZoom>
    </modules>
    <global>
        <models>
            <starplugins_cloudzoom>
                <class>StarPlugins_CloudZoom_Model</class>
            </starplugins_cloudzoom>
        </models>
        <blocks>
            <starplugins_cloudzoom>
                <class>StarPlugins_CloudZoom_Block</class>
            </starplugins_cloudzoom>
        </blocks>
        <helpers>
            <starplugins_cloudzoom>
                <class>StarPlugins_CloudZoom_Helper</class>
            </starplugins_cloudzoom>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <starplugins_cloudzoom module="starplugins_cloudzoom">
                    <file>starplugins-cloudzoom.xml</file>
                </starplugins_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <starplugins_cloudzoom>
                <enabled>1</enabled>
                
                <tint_color>#fff</tint_color>
                <tint_opacity>0.25</tint_opacity>
                <animation_time>500</animation_time>
                <zoom_position>3</zoom_position>
                <zoom_offset_x>15</zoom_offset_x>
                <zoom_offset_y>0</zoom_offset_y>
                <zoom_fly_out>1</zoom_fly_out>
                <zoom_size_mode>image</zoom_size_mode>
                
                <zoom_width>400</zoom_width>
                <zoom_height>400</zoom_height>
                
                <caption_position>bottom</caption_position>
                <variable_magnification>1</variable_magnification>
                <start_magnification>auto</start_magnification>
                <min_magnification>auto</min_magnification>
                <max_magnification>auto</max_magnification>
                <easing>8</easing>
              
                <small_image_width>265</small_image_width>
                <small_image_height>265</small_image_height>
                <big_image_width>800</big_image_width>
                <big_image_height>800</big_image_height>
                
                <use_fancybox>0</use_fancybox>
                <auto_inside>0</auto_inside>
            </starplugins_cloudzoom>
        </catalog>
    </default>
</config>
